<div class="container mt-sm-5 mb-sm-5 px-sm-0">
  <div class="row">
    <div class="col-11">

      <h1 class="mb-4">グループ検索結果</h1>

      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th></th>
            <th>Group</th>
            <th>Introduction</th>
            <th>Members</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |group| %>
            <tr>
              <td>
                <%= image_tag group.get_group_image(60,60) %>
              </td>
              <td>
                <%= link_to group_path(group.id) do %>
                  <%= group.name %>
                <% end %>
              </td>
              <td>
                <%= group.introduction.truncate(25) %>
              </td>
              <td>
                <i class="fas fa-users"></i>
                <%= group.users.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @results %>
      
    </div>
  </div>
</div>