<h1>投稿一覧</h1>

<%= link_to 'new!', new_post_path %>

<table>
  <thead>
    <tr>
      <th>UserName</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr id="post_<%= post.id %>">
      <td>
        <%= post.user.user_name %>
      </td>
      <td>
        <%= link_to post_path(post.id) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td class="favorite-btn">
        <%= render "public/favorites/favorite-btn", post: post %>
      </td>
      <% if post.user_id == current_user.id %>
        <td>
          <%= link_to "編集", edit_post_path(post.id) %>
        </td>
        <td>
          <%= link_to "削除", post_path(post.id), method: :delete %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
