<div class="container mt-sm-5 mb-sm-5 px-sm-0">
  <h1>投稿一覧</h1>
    <div class="text-right mt-4">
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <%= f.search_field :title_cont %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="text-right mt-3 mb-3">
      <%= link_to 'new!', new_post_path, class="btn btn-outline-info" %>
    </div>

    <div class="row">
      <div class="col-md-2">
        <ul class="list-group">
          <% @tag_list.each do |list| %>
            <li class="list-group-flush">
              <%= link_to tag_search_tag_path(tag_id: list.id) do %>
                <%= list.name %>
              <% end %>
              <%="(#{list.posts.count})" %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-9 offset-1">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>UserName</th>
              <th>Title</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr id="post_<%= post.id %>">
                <td>
                  <%= link_to user_path(post.user.id) do %>
                    <%= post.user.user_name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to post_path(post.id) do %>
                    <%= post.title %>
                  <% end %>
                </td>
                <td class="favorite-btn">
                  <%= render "public/favorites/favorite-btn", post: post %>
                </td>
                <% if post.user_id == current_user.id %>
                  <td>
                    <%= link_to "編集", edit_post_path(post.id) %>
                  </td>
                  <td>
                    <%= link_to "削除", post_path(post.id), method: :delete %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
