<h1>投稿詳細</h1>

<div id="post_<%= @post.id %>">
  <% if @post.user_id == current_user.id %>
    <div>
      <%= link_to "編集", edit_post_path(@post.id) %>
    </div>
    <div>
      <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <h2><%= @post.title %></h2>

  <p><%= @post.body %></p>

  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image, size:'100x100' %>
    <% end %>
  <% end %>

  <div>
    <!--いいね機能の実装-->
    <div class="favorite-btn">
      <%= render "public/favorites/favorite-btn", post: @post %>
    </div>

    <!--コメント機能の実装-->
    <p class="comments-count">コメント件数: <%= @post.post_comments.count %></p>
    <div class="post-comments">
      <%= render "public/post_comments/post_index", post: @post %>
    </div>

      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
  </div>
</div>
