<div class="container mt-sm-5 mb-sm-5 px-sm-0">
  <div class="row">
    <div class="col-11">

      <h1 class="mb-4">投稿検索結果</h1>

      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Title</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |post| %>
            <tr>
              <td>
                <%= link_to admin_user_path(post.user.id) do %>
                  <%= post.user.user_name %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_post_path(post.id) do %>
                  <%= post.title %>
                <% end %>
              </td>
              <td>
                <i class="fas fa-thumbs-up"></i><%= post.favorites.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @results %>

    </div>
  </div>
</div>