<div class="container mt-sm-5 mb-sm-5 px-sm-0">
  <h1>ユーザー一覧</h1>

    <div class="text-right mt-4 mb-3">
      <%= search_form_for @q, url: search_admin_users_path do |f| %>
        <%= f.search_field :user_name_cont %>
        <%= f.submit "検索" %>
      <% end %>
    </div>

    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th></th>
          <th>UserName</th>
          <th>Follow</th>
          <th>Follower</th>
          <th>Status</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(50,50) %>
            </td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.user_name %>
              <% end %>
            </td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>
            <td><%= user.is_deleted? ? "退会" : "有効" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
</div>
