<div class="container">
  <h1 class="mt-5">User info</h1>
  <div class="row mt-sm-5 mb-sm-5">

    <div class="col-md-6 text-center">
      <%= image_tag @user.get_profile_image(100, 100) %>
    </div>

    <div class="col-md-5 offset-1 mt-4">
      <h5 class="font-italic">Account Name:</br></h5>
      <p><%= @user.user_name %></p>

      <h5 class="font-italic">Age:</br></h5>
      <p><%= @user.age_i18n %></p>

      <h5 class="font-italic">Introduction:</br></h5>
      <p><%= @user.introduction %></p>

      <h5 class="font-italic mt-2" style="display: inline-block;">
        follow:
        <%= link_to user_followings_path(@user) do %>
          <%= @user.followings.count %>
        <% end %>
      </h5>

      <h5 class="font-italic" style="display: inline-block; margin-left: 15px;">
        follower:
          <%= link_to user_followers_path(@user) do %>
            <%= @user.followers.count %>
          <% end %>
      </h5>
    </div>

  </div>
</div>
