<h1>アカウント編集</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  
  <%= f.label :kana_name, "フリガナ" %>
  <%= f.text_field :kana_name %>
  
  <%= f.label :user_name, "アカウント名" %>
  <%= f.text_field :user_name %>
  
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
  
  <%= f.label :introduction, "紹介" %>
  <%= f.text_area :introduction %>
  
  <%= f.label :profile_image, "プロフィール画像" %>
  <%= f.file_field :profile_image, accept: "image/*" %>
  
  <%= f.submit "変更を保存する" %>
