<h1>My page</h1>

<div>
  <% if @user.id == current_user.id %>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <%= link_to "編集", edit_user_path(@user) %>
    <%= link_to "退会" %>
  <% else %>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
    <% end %>
  <% end %>
</div>

<div>
  <% if @user.id == current_user.id %>
    <p>
      Account Name:</br>
      <%= @user.user_name %>
    </p>
    <p>
      Age:</br>
      <%= @user.age_i18n %>
    </p>
    <P>
      Introduction:</br>
      <%= @user.introduction %>
    </P>
    <p>
      follow:</br>
      <%= @user.followings.count %>
    </p>
    <p>
      follower:</br>
      <%= @user.followers.count %>
    </p>
  <% else %>
    <p>
      Account Name:</br>
      <%= @user.user_name %>
    </p>
    <p>
      Age:</br>
      <%= @user.age_i18n %>
    </p>
    <P>
      Introduction:</br>
      <%= @user.introduction %>
    </P>
    <p>
      follow:</br>
      <%= @user.followings.count %>
    </p>
    <p>
      follower:</br>
      <%= @user.followers.count %>
    </p>
  <% end %>
</div>
