<!DOCTYPE html>
<html>
  <head>
    <title>OneRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>1RooM</h2>

      <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to "マイページ", user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "投稿一覧" %>
        </li>
        <li>
          <%= link_to "ユーザー一覧", users_path %>
        </li>
        <li>
          <%= link_to "コミュニティ一覧" %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>one-room.com</p>
    </footer>
  </body>
</html>
