<!DOCTYPE html>
<html>
  <head>
    <title>OneRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm py-sm-3">
      <%= render 'layouts/header' %>
    </header>
    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
    <footer>
      <div class="container-xxl mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>one-room.com</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
